/* responsive.css */

/* Media Queries */
@media (max-width: 1200px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .cta-button {
        padding: 8px 16px;
    }

    .service {
        flex: 1 1 48%;
        margin: 10px;
    }
}

@media (max-width: 992px) {
    .hero-content h1 {
        font-size: 1.75rem;
    }

    .hero-content p {
        font-size: 0.95rem;
    }

    .cta-button {
        padding: 7px 14px;
    }

    .service {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    .hero-content h1 {
        font-size: 1.5rem;
    }

    .hero-content p {
        font-size: 0.9rem;
    }

    .cta-button {
        padding: 6px 12px;
    }

    .services-section h2,
    .about-section h2,
    .contact-section h2 {
        font-size: 2rem;
    }

    .service {
        margin: 10px 0;
    }

    .service-list {
        flex-direction: column;
        align-items: center;
    }

    .centralizado {
        padding: 0 10px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    footer .container {
        flex-direction: column;
        align-items: center;
    }

    footer .container div {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    header {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 10px;
    }

    .hero-content h1 {
        font-size: 1.25rem;
    }

    .hero-content p {
        font-size: 0.85rem;
    }

    .cta-button {
        padding: 5px 10px;
    }

    .services-section h2,
    .about-section h2,
    .contact-section h2 {
        font-size: 1.75rem;
    }

    .service {
        padding: 15px;
    }
}


/* Specific adjustments for digital-solutions section */
@media (max-width: 768px) {
    #digital-solutions .content {
        padding: 20px;
    }

    #digital-solutions .icons {
        flex-direction: row;
        gap: 20px;
    }

    #digital-solutions .icons img {
        width: 80px; /* Ajusta o tamanho dos ícones para dispositivos móveis */
        height: 80px;
    }

    #digital-solutions .content h2 {
        font-size: 1.75rem; /* Ajusta o tamanho do título */
    }
}

@media (max-width: 576px) {
    #digital-solutions .content {
        padding: 10px;
    }

    #digital-solutions .icons img {
        width: 60px; /* Ajusta ainda mais o tamanho dos ícones para telas menores */
        height: 60px;
    }

    #digital-solutions .content h2 {
        font-size: 1.5rem; /* Ajusta o tamanho do título */
    }
}