* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    background: url('img/pexels-fauxels-3183183.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
    z-index: 1;
}

header, .hero-section, .services-section, .about-section, .contact-section, footer {
    position: relative;
    z-index: 2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.logo img {
    height: 100px; /* Ajusta o tamanho da logo SVG */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 40px 20px;
}

.hero-content {
    max-width: 800px;
    text-align: center;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, opacity 0.3s;
}

.cta-button:hover {
    background-color: rgba(255, 0, 0, 1);
}

.services-section,
.about-section,
.contact-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #1a1a1a;
}

.services-section h2,
.about-section h2,
.contact-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    flex: 1 1 45%;
    margin: 10px;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.service-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input,
form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
}

#typed-text {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
