
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    background: url('https://images.pexels.com/photos/3183183/pexels-photo-3183183.jpeg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
    z-index: 1;
}

header, .hero-section, .services-section, .about-section, .contact-section, footer {
    position: relative;
    z-index: 2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.logo img {
    height: 100px; /* Aumenta o tamanho da logo */
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px;
}

/* Responsivo */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 40px 20px;
}

.hero-content {
    max-width: 800px;
    text-align: center;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, opacity 0.3s;
}

.cta-button:hover {
    background-color: rgba(255, 0, 0, 1);
}

.services-section,
.about-section,
.contact-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #1a1a1a;
}

.services-section h2,
.about-section h2,
.contact-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    flex: 1 1 45%;
    margin: 10px;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.service-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input,
form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

#typed-text {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.services_icon {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px;
    fill: #1E90FF; /* Cor padrão */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #111;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 16px;
}

#digital-solutions {
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 60px 0;
    background-color: white; /* Fundo branco para a seção */
    min-height: 600px; /* Altura mínima aumentada */
    display: flex;
    align-items: center;
    justify-content: center;
}
    
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: whitesmoke;
  }
  
  #digital-solutions .content {
    position: relative;
    z-index: 2;
    color: black; /* Texto preto para contraste com fundo branco */
  }

  #digital-solutions .content h2 {
    font-size: 2.5rem; /* Tamanho da fonte maior */
  }
  
  #digital-solutions .icons {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
    
  }
  
  #digital-solutions .icons img {
    width: 100px; /* Aumenta o tamanho dos ícones */
    height: 100px; /* Aumenta o tamanho dos ícones */
    filter: grayscale(100%); /* Aplica a cor cinza */
    opacity: 0.7; /* Ajusta a opacidade para dar impressão de sobreposição */
  }

  footer {
    background-color: #0d0d0d;
    color: #fff;
    padding: 40px 0;
  }

  footer .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer .container div {
    flex: 1;
    min-width: 250px;
    padding: 20px;
  }

  footer h3 {
    margin-bottom: 20px;
  }

  footer p, footer ul, footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 0 10px;
  }

  footer ul {
    list-style: none;
    padding: 0;
  }

  footer .social a {
    margin-right: 10px;
  }

  footer .credits {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #333;
}